body{
    margin: 0;
    background-color: rebeccapurple;
    color: red;
    font-size: 30px;
    display: flex;
}

.hero{
    background: url('../images/swc-banner.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}